.section1 {
    height: 200px;
    margin: 15vh auto 10px auto;
    border-radius: 50px;
    position: relative;
}

.section1 h1 {
    display: block;
    width: 40%;
    margin: 0 auto 30px auto;
    padding: 10px;
    border-radius: 5px 5px 50px 50px;

}

.section2 {
    margin: 10px auto 0 auto;
    padding: 20px;
    border-radius: 50px 50px 0 0;
    border-bottom: none;

}

.menu {
    display: grid;
    grid-template-columns: 50% 50%;
}

.note {
    margin: 25px auto 0 auto;
    padding: 0 10px 50px 10px;
    border-radius: 50px;
}

.note h1 {
    width: 40%;
    margin: 0 auto 25px auto;
    padding: 10px;
    border-radius: 5px 5px 50px 50px;
}

:where(.section1, .section2) {
    width: 95%;
}

:where(.section1, .section2, .note) {
    border: 3px solid var(--darkBlue);
}

:where(.section1 h1, .note) {
    background-color: var(--lightBlue);
}

:where(.section1, .note) h1 {
    box-shadow: 0 4px 2px var(--darkBlue);
}

:where(.section1, .section2, .note h1) {
    background-color: var(--light);
}

:where(.note, .section1) h1 {
    height: 50px;
}

:where(.menu, .note) {
    width: 100%;
}

:where(.menu_filter, .menu_search) {
    padding: 0 100px;
    margin: 25px;
}