.section1 {
    height: 200px;
    margin: 5px auto;
    border-radius: 50px;
}

.section2 {
    margin: 10px auto 0 auto;
    padding: 20px;
    border-radius: 50px 50px 0 0;
    border-bottom: none;
}

.menu {
    display: grid;
    grid-template-columns: 50% 50%;
}

.note {
    margin: 25px auto 0 auto;
    padding: 0 10px 50px 10px;
    border-radius: 50px;
    min-height: 500px;
}

:where(.section1, .section2) {
    width: 95%;
}

:where(.section1, .section2, .note) {
    border: 3px solid var(--darkBlue);
}

:where(.section1 h1, .note) {
    background-color: var(--lightBlue);
}

:where(.section1, .note) h1 {
    box-shadow: 0 4px 2px var(--darkBlue);
}

:where(.section1, .section2, .note h1) {
    background-color: var(--light);
}

:where(.note, .section1) h1 {
    width: 40%;
    height: 50px;
    margin: 0 auto 30px auto;
    padding: 10px;
    border-radius: 5px 5px 50px 50px;
}

:where(.menu, .note) {
    width: 100%;
}

:where(.menu_filter, .menu_search) {
    padding: 0 100px;
    margin: 25px;
}

@media only screen and (max-width: 600px) {
    .section1 {
        border-radius: 0;
    }

    .section2 {
        margin: 0 auto;
        padding: 0;
        border-bottom: none;
        border-radius: 0;
    }

    .menu {
        display: block;
    }

    .note {
        padding-bottom: 30px;
        border-radius: 0;
    }

    :where(.section1, .section2) {
        width: 100%;
    }

    :where(.section1, .section2, .note) {
        border: none;
    }

    :where(.section1, .note) h1 {
        width: 60%;
        height: 40px;
    }

    :where(.menu, .note) {
        width: 100%;
    }

    :where(.menu_filter, .menu_search) {
        padding: 10px;
        margin: 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .section1 {
        height: 220px;
    }

    .note {
        padding-bottom: 30px;
    }

    :where(.section1, .section2) {
        width: 98%;
    }

    :where(.menu_filter, .menu_search) {
        margin: 0 10px;
        padding: 10px;
    }
}