.input_todo {
    width: 82%;
    padding: 10px 30px;
}

.input_todo:focus {
    box-shadow: 0 0 4px 2px var(--lightBlue);
}

.add_input_todo {
    width: 30%;
    background-color: #ccc;
}

.add_input_todo:hover {
    background-color: #CFF09E;
}

.add_input_todo:focus {
    width: 33%;
    height: 45px;
    box-shadow: 2px 2px 4px 2px var(--lightBlue), -2px -2px 4px 2px var(--lightBlue);
}

:where(.input_todo, .add_input_todo) {
    display: block;
    margin: 10px auto;
}