.todoForm {
    display: grid;
    gap: 20px;
}

.inputTodo {
    width: 890px;
    margin: 0 auto;
    padding: 10px 30px;
}

.inputTodo:focus {
    box-shadow: 0 0 4px 2px var(--lightBlue);
}

.addInputTodo {
    width: 400px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    background-color: #ccc;


}

.addInputTodo:hover {
    background-color: #CFF09E;
}

.addInputTodo:focus {
    box-shadow: 2px 2px 4px 2px var(--lightBlue), -2px -2px 4px 2px var(--lightBlue);
    width: 420px;
    height: 45px;
}