.cart {
    width: 95%;
    border-bottom: 3px solid var(--darkBlue);
    outline: none;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.cart p {
    padding: 15px;

}

.buttons {
    width: 12%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.icon:hover {
    background-color: var(--light);
    border: 1px solid var(--darkBlue);
    padding: 2px;
    border-radius: 50px;
    zoom: 2;
}

.iconComplete {
    color: #009688;
}

.iconUncomplete {
    color: #aaa
}