.cloumns {
    grid-template-columns: 50% 50%;
    align-items: center;
}

.section1 img {
    height: 100%;
    border-bottom-right-radius: 50px;
}

.about_section {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--light);
    border: 3px solid var(--lightBlue);
}

.section1 h1 {
    margin: 20px 0;
}

.about_section ul {
    margin-left: 30px;
}

.section2 h1 {
    margin: 10vh 0;
}

.section2 p {
    margin: 10px;
}

.row1 {
    background: linear-gradient(to right, var(--light), transparent, transparent);
}

.todo_form_img {
    height: 100px;
}

.row2 {
    background: linear-gradient(to left, var(--lightBlue), transparent, transparent);
}

.todo_list_img {
    height: 200px;
}

:where(.cloumns, .content_center) {
    display: grid;
    justify-content: space-around;
}

:where(.todo_list_img, .todo_form_img, .section1 img) {
    width: 100%;
}

:where(.todo_list_img, .todo_form_img) {
    border-radius: 50px;
}

:where(.row1, .row2) {
    padding: 30px 0;
}