.cloumns {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-items: center;
}

.section1 img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 50px;
}

.section2 img {
    width: 500px;
    height: 250px;
    border-radius: 200px;
}

.section1 img,
.section2 img {
    filter: drop-shadow(0px 2px 4px var(--darkBlue));
}

.section1 h1 {
    padding: 20px 0;
}

.section2 h1 {
    padding: 10vh 0;
}

.section1 h1,
.section2 h1 {
    font-size: 32px;
}

.content_center {
    margin: 0 auto;
}

.section1 ul {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--light);
    box-shadow: 0 0 2px 2px var(--light), 0 0 2px 4px var(--darkBlue);
}

.section1 li {
    margin-left: 30px;
}

.section2 p {
    margin: 10px 0;
}

.section1 li,
.section2 p {
    font-size: 16px;
    font-weight: bold;
}

.row1 {
    background: linear-gradient(to right, var(--light), transparent, transparent);
}

.row2 {
    background: linear-gradient(to left, var(--lightBlue), transparent, transparent);
}

.row1,
.row2 {
    padding: 20px 0;
}

.row1 p {
    background: linear-gradient(to right, transparent, var(--lightBlue), transparent);
    padding: 20px;
}

.row2 p {
    background: linear-gradient(to right, transparent, var(--light), transparent);
    padding: 20px;
}