.validBox {
    position: absolute;
    left: 900px;
    top: 20px;
}

.warning {
    width: 380px;
    background: linear-gradient(to right, transparent, rgba(255, 255, 141, 0.8), transparent);
    padding: 15px 20px;
    text-align: center;

}

.error {
    width: 350px;
    background: linear-gradient(to right, transparent, rgba(245, 124, 0, 0.4), transparent);
    padding: 15px 20px;
    text-align: center;
}