.validBox {
    display: flex;
    justify-content: center;
    margin: 12vh auto 0 auto;
}

.warning {
    width: 500px;
    background: linear-gradient(to right, transparent, rgba(255, 255, 141, 0.8), transparent);
    padding: 10px;
    text-align: center;

}

.error {
    width: 350px;
    background: linear-gradient(to right, transparent, rgba(245, 124, 0, 0.4), transparent);
    padding: 10px;
    text-align: center;
}