.main {
    width: 90%;
    background-color: var(--light);
    margin: 15vh auto 10px auto;
    padding: 0 10px;
    border: 3px solid var(--darkBlue);
}

.main h1 {
    width: 40%;
    height: 50px;
    background-color: var(--lightBlue);
    margin: 0 auto 50px auto;
    padding: 10px;
    border-radius: 5px 5px 50px 50px;
    box-shadow: 0 4px 2px var(--darkBlue);
}

.main h4 {
    text-align: center;
    margin: 20px;
}

.main a:hover {
    color: var(--lightBlue);
    text-shadow: none;
}

.section1 {
    margin: 0 auto;
    padding: 50px;
    border-bottom: 3px solid var(--darkBlue);
}

.section1 section {
    align-self: start;
}

.section1 h3 {
    margin-bottom: 20px;
}

.section1 p {
    margin: 0 10px;
}

.section1 ul {
    margin: 0 30px;
}

.section2 {
    height: 300px;
}

.section2 img {
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.section2 h4 {
    text-align: start;
}

:where(.main, .section2 img) {
    border-radius: 250px;
}

:where(.section1, .section2, .section1 section) {
    width: 100%;
    display: grid;
    justify-content: center;
}

:where(.section1, .section2) {
    grid-template-columns: 50% 50%;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .main {
        width: 100%;
        margin: 9vh auto 0 auto;
        border-radius: 0;
        border: 0;
        border-top: 3px solid var(--darkBlue);
        min-height: 750px;
        padding: 0 0 10px 0;
    }

    .main h1 {
        width: 60%;
        margin-bottom: 30px;
    }

    .section1 {
        padding: 10px;
    }

    .section2 {
        height: 350px;
    }

    .section2 img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .main p {
        margin: 5px 10px;
    }

    .section2 img {
        border-radius: 50px;
    }

    :where(.section1, .section2, .section1 section) {
        width: 100%;
        margin: 10px auto;
        word-break: break-all;
    }

    .section2 {
        grid-template-columns: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main {
        width: 95%;
        margin-top: 8vh;
        border-radius: 50px;
    }

    .main p {
        margin: 5px;
    }
}