.todo_filter_form label {
    margin: 5px 0 5px 20px;
}

.todo_filter_form select {
    width: 100%;
    padding: 10px 30px;
    border-radius: 10px;
}

:where(.todo_filter_form) select,
label {
    display: block;
}

@media only screen and (max-width: 600px) {
    .todo_filter_form select {
        padding: 10px 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .todo_filter_form select {
        padding: 15px;
    }
}