* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jua', sans-serif;
}

:root {
    --darkBlue: #263238;
    --lightBlue: #A1D4E2;
    --light: #F2F5ED;
}

h1 {
    color: var(--darkBlue);
    text-align: center;
}

P,
ul {
    color: var(--darkBlue);
}

input {
    border: 3px solid var(--darkBlue);
    border-radius: 50px;
    outline: none;
    height: 40px;
}

::placeholder {
    font-size: 14px;
    font-weight: 700;
}