* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Jua', sans-serif;
    text-decoration: none;
}

:root {
    --darkBlue: #263238;
    --lightBlue: #A1D4E2;
    --light: #F2F5ED;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

input {
    height: 40px;
    outline: none;
    font-size: 1em;
    font-weight: 700;
    border: 3px solid var(--darkBlue);
    border-radius: 50px;
}

img {
    filter: drop-shadow(0px 2px 4px var(--darkBlue));
}

:is(h1, h3, h4, ul, p, a) {
    color: var(--darkBlue);
}